<div role="tabpanel" class="tab-pane active" id="tab-zone-creatures">
  <table id="zone-creatures" class="table table-striped" data-datatables-href="<%= api_url("/zones/#{@zone.slug}/creatures.json") %>">
    <thead>
      <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Areas</th>
      </tr>
    </thead>
  </table>
</div>
