<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#tab-creature-stats" aria-controls="tab-creature-stats" role="tab" data-toggle="tab">Stats</a></li>
  <li role="presentation"><a href="#tab-creature-instances" aria-controls="tab-creature-instances" role="tab" data-toggle="tab">Instances</a></li>
</ul>
