<div role="tabpanel" class="tab-pane" id="tab-creature-instances">
  <table id="creature-instances" class="table table-striped" data-datatables-href="<%= api_url("/creatures/#{@creature.eid}/instances.json") %>">
    <thead>
      <tr>
        <th>GUID</th>
      </tr>
    </thead>
  </table>
</div>
