<div role="tabpanel" class="tab-pane active" id="tab-creature-stats">
  <table id="creature-level-stats" class="table table-striped" data-datatables-href="<%= api_url("/creatures/#{@creature.eid}/level-stats.json") %>">
    <thead>
      <tr>
        <th>Level</th>
        <th>Health</th>
        <th>Avg Health</th>
        <th>Power</th>
        <th>Avg Power</th>
      </tr>
    </thead>
  </table>
</div>
