<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#tab-zone-creatures" aria-controls="tab-zone-creatures" role="tab" data-toggle="tab">Creatures</a></li>
  <li role="presentation"><a href="#tab-zone-placeholder" aria-controls="tab-zone-placeholder" role="tab" data-toggle="tab">Placeholder</a></li>
</ul>
